<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREATE</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    create

    title :
    <input type="text" id="create_notice_title" />
    content :
    <input type="text" id="create_notice_content" />

    <button onclick="create_notice()">CREATE</button>

    <script>
        function create_notice(){
            let _param = {
                title : $("#create_notice_title").val(),
                content : $("#create_notice_content").val()
            };

            $.ajax({
                url: "/api/notice",
                type: "POST",
                contentType : 'application/json; charset=utf-8',
                data: JSON.stringify(_param),
                cache: false,
                success: (obj_data, status, xhr)=>{
                    alert(JSON.stringify(obj_data));
                },
                error: (obj_data, status, xhr)=>{
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }
    </script>


</div>
</body>
</html>