<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIST</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    list

    삭제여부
    <select id="search_notice_deleted">
        <option value="" selected="selected">전체</option>
        <option value="false">일반</option>
        <option value="true">삭제</option>
    </select>

    정렬 기준
    <select id="search_notice_orderby">
        <option value="" selected="selected">입력 순</option>
        <option value="title">제목 순</option>
    </select>
    정렬 방향
    <select id="search_notice_orderway">
        <option value="" selected="selected">역방향</option>
        <option value="asc">정방향</option>
    </select>

    검색어 :
    <input type="text" id="search_notice_title" />

    <button onclick="list_notice()">LIST</button>

    <div id="div_notice_list"></div>

    <script>
        function list_notice(){
            let deleted = null;
            let search_notice_deleted = $("#search_notice_deleted").val();
            if(search_notice_deleted !== ""){
                deleted = (search_notice_deleted === "true");
            }
            //alert(deleted);
            let _param = {
                orderby : $("#search_notice_orderby").val(),
                orderway : $("#search_notice_orderway").val(),
                title : $("#search_notice_title").val(),
                deleted : deleted
            };

            $.ajax({
                url: "/api/notice/list",
                type: "GET",
                contentType : 'application/json; charset=utf-8',
                data: _param,
                cache: false,
                success: (obj_data, status, xhr)=>{
                    alert(JSON.stringify(obj_data));
                    /*
                    */
                    $("#div_notice_list").html("");
                    let noticeList = obj_data;
                    for(let each of noticeList){
                        let title = each["title"];
                        let id = each["id"];
                        $("#div_notice_list").append(
                            "<div><a href='/notice/detail/"+id+"'>"+ each["deleted"] + "||" + id + "||" + title +"</a></div>"
                        );
                        /*"<div><a href='/notice/detail/"+each['id']+"'>"+each['id'] +"//" + each["noticename"] +"</a></div>"*/
                    }
                },
                error: (obj_data, status, xhr)=>{
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }
    </script>


</div>
</body>
</html>