<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAGED LIST</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    paged list

    삭제여부
    <select id="search_post_deleted">
        <option value="">전체</option>
        <option value="false">일반</option>
        <option value="true">삭제</option>
    </select>

    정렬 기준
    <select id="search_post_orderby">
        <option value="" selected="selected">입력 순</option>
        <option value="title">제목 순</option>
    </select>
    정렬 방향
    <select id="search_post_orderway">
        <option value="" selected="selected">역방향</option>
        <option value="asc">정방향</option>
    </select>

    검색어 :
    <input type="text" id="search_post_title" />
    호출 페이지 :
    <input type="number" id="callpage" value="1"/>
    한 페이지에 볼 글 수 :
    <input type="number" id="perpage" value="10"/>

    <button onclick="list_post()">LIST</button>

    <div id="div_post_list"></div>

    <div id="div_post_page_list"></div>

    <script>
        function listener_call_page(obj_page){
            //alert(obj_page);
            $("#callpage").val(obj_page);
            list_post();
        }
        function list_post(){
            let deleted = null;
            let search_post_deleted = $("#search_post_deleted").val();
            if(search_post_deleted !== ""){
                deleted = (search_post_deleted === "true");
            }
            //alert(deleted);
            let _param = {
                orderby : $("#search_post_orderby").val(),
                orderway : $("#search_post_orderway").val(),
                callpage : $("#callpage").val(),
                perpage : $("#perpage").val(),
                title : $("#search_post_title").val(),
                deleted : deleted
            };

            $.ajax({
                url: "/api/post/pagedList",
                type: "GET",
                contentType : 'application/json; charset=utf-8',
                data: _param,
                cache: false,
                success: (obj_data, status, xhr)=>{
                    //alert(JSON.stringify(obj_data));

                    $("#callpage").val(obj_data["callpage"]);
                    $("#perpage").val(obj_data["perpage"]);


                    $("#div_post_page_list").html("");
                    let totalPage = obj_data["totalPage"];
                    let callpage = obj_data["callpage"];
                    for(let i=0;i<5;i++){
                        let temppage = callpage - 5 + i;
                        if(temppage > 0){
                            $("#div_post_page_list").append(
                                "<a onclick='listener_call_page("+temppage+")'>" +temppage+ "</a>"
                            );
                        }
                    }
                    $("#div_post_page_list").append(
                        "<a style='color:red' onclick='listener_call_page("+callpage+")'>" +callpage+ "</a>"
                    );
                    for(let i=0;i<5;i++){
                        let temppage = callpage + 1 + i;
                        if(temppage > 0 && temppage <= totalPage){
                            $("#div_post_page_list").append(
                                "<a onclick='listener_call_page("+temppage+")'>" +temppage+ "</a>"
                            );
                        }
                    }

                    /*
                    */
                    $("#div_post_list").html("");
                    let postList = obj_data["list"];
                    for(let each of postList){
                        let title = each["title"];
                        let id = each["id"];
                        $("#div_post_list").append(
                            "<div><a href='/post/detail/"+id+"'>"+ each["deleted"] + "||" + id + "||" + title +"</a></div>"
                        );
                        /*"<div><a href='/post/detail/"+each['id']+"'>"+each['id'] +"//" + each["postname"] +"</a></div>"*/
                    }
                },
                error: (obj_data, status, xhr)=>{
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }
    </script>


</div>
</body>
</html>