<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    login

    username :
    <input type="text" class="input_param" id="create_user_username" />
    password :
    <input type="password" class="input_param" id="create_user_password" />

    <button onclick="login_user()">LOGIN</button>
    <button onclick="logout_user()">LOGOUT</button>

    <script>
        function logout_user(){
            let userId = localStorage.getItem("userId");
            alert(userId);
            localStorage.removeItem("userId");
            alert(localStorage.getItem("userId"));
        }
        function login_user(){
            let _param = {};
            let input_param = $(".input_param");
            for(let each of input_param){
                let tempId = $(each).attr("id") + "";
                _param[tempId.substring(tempId.lastIndexOf("_") + 1)] = $(each).val()
            }

            $.ajax({
                url: "/api/user/login",
                type: "POST",
                contentType : 'application/json; charset=utf-8',
                data: JSON.stringify(_param),
                cache: false,
                success: (obj_data, status, xhr)=>{
                    let id = Number(obj_data["id"]);
                    if(id > 0){
                        alert("로그인 성공");
                        localStorage.setItem("userId", id);
                    } else {
                        alert("아이디 혹은 비밀번호가 일치하지 않습니다.");
                    }
                    //alert(JSON.stringify(obj_data));
                },
                error: (obj_data, status, xhr)=>{
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }
    </script>


</div>
</body>
</html>