<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCROLL LIST</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
<div>
    scroll list

    삭제여부
    <select id="search_user_deleted" onchange="listener_search_user_changed()">
        <option value="">전체</option>
        <option value="false">일반</option>
        <option value="true">삭제</option>
    </select>

    정렬 방향
    <select id="search_user_orderway" onchange="listener_search_user_changed()">
        <option value="" selected="selected">역방향</option>
        <option value="asc">정방향</option>
    </select>

    검색어 :
    <input type="text" id="search_user_title" onchange="listener_search_user_changed()"/>
    한 페이지에 볼 글 수 :
    <input type="number" id="perpage" value="" onchange="listener_search_user_changed()"/>

    cursor : <input type="text" id="cursor_user" value="" readonly="readonly"/>
    changed : <input type="text" id="changed_user" value="" readonly="readonly"/>

    <button onclick="list_user()">LIST</button>

    <div id="div_user_list"></div>

    <script>
        function listener_search_user_changed(){
            $("#changed_user").val("true");
            list_user();
        }
        function list_user(){
            let deleted = null;
            let search_user_deleted = $("#search_user_deleted").val();
            if(search_user_deleted !== ""){
                deleted = (search_user_deleted === "true");
            }

            let cursor = null;
            let cursor_user_id = $(".cursor_user_id");
            if(cursor_user_id.length > 0){
                cursor = $(cursor_user_id[cursor_user_id.length - 1]).val();
                $("#cursor_user").val(cursor);
            }

            let changed_user = $("#changed_user").val();
            let tempChanged = (changed_user === "true");
            if(tempChanged){
                $("#changed_user").val("")
                $("#cursor_user").val("");
            }

            //alert(deleted);
            let _param = {
                orderway : $("#search_user_orderway").val(),
                perpage : $("#perpage").val(),
                cursor : $("#cursor_user").val(),
                title : $("#search_user_title").val(),
                deleted : deleted
            };

            $.ajax({
                url: "/api/user/scrollList",
                type: "GET",
                contentType : 'application/json; charset=utf-8',
                data: _param,
                cache: false,
                success: (obj_data, status, xhr)=>{
                    alert(JSON.stringify(obj_data));
                    //$("#div_user_list").html("");
                    if(tempChanged){
                        $("#div_user_list").html("");
                    }

                    let userList = obj_data;
                    for(let each of userList){
                        let title = each["title"];
                        let id = each["id"];
                        $("#div_user_list").append(
                            "<div><a href='/user/detail/"+id+"'>"+ each["deleted"] + "||" + id + "||" + title +"</a>" +
                            "<input type='hidden1' class='cursor_user_id' value='"+ id +"'/>" +
                            "</div>"
                        );
                    }
                },
                error: (obj_data, status, xhr)=>{
                    alert("error!!");
                    alert(JSON.stringify(obj_data));
                }
            });
        }
    </script>


</div>
</body>
</html>