<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.sprboot.mapper.PostMapper">

	<!---->
	<select id="detail" parameterType="hashMap" resultType="com.thc.sprboot.dto.PostDto$DetailResDto">
		SELECT post.id
			,post.deleted
			,post.process
			,post.created_at as createdAt
			,post.modified_at as modifiedAt

			,post.user_id as userId
			,post.title
			,post.content

			,user.nick as userNick
		FROM post, user
		WHERE post.user_id = user.id
	 	  AND post.id = #{id}
	</select>
	<select id="list" parameterType="hashMap" resultType="com.thc.sprboot.dto.PostDto$DetailResDto">
		SELECT post.id
		FROM post
		WHERE post.id is not NULL
		<if test = "deleted != null">AND post.deleted = #{deleted}</if>
		<if test = "title != null and title !=''">AND post.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "orderby =='id'">ORDER BY post.id </if>
		<if test = "orderby =='title'">ORDER BY post.title </if>
		<if test = "orderway =='desc'"> DESC</if>
		<if test = "orderway =='asc'"> ASC</if>
	</select>

	<select id="pagedList" parameterType="hashMap" resultType="com.thc.sprboot.dto.PostDto$DetailResDto">
		SELECT post.id
		FROM post
		WHERE post.id is not NULL
		<if test = "deleted != null">AND post.deleted = #{deleted}</if>
		<if test = "title != null and title !=''">AND post.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "orderby =='id'">ORDER BY post.id </if>
		<if test = "orderby =='title'">ORDER BY post.title </if>
		<if test = "orderway =='desc'"> DESC</if>
		<if test = "orderway =='asc'"> ASC</if>
		LIMIT #{offset}, #{perpage}
	</select>
	<select id="pagedListCount" parameterType="hashMap" resultType="Integer">
		SELECT COUNT(post.id) as listCount
		FROM post
		WHERE post.id is not NULL
		<if test = "deleted != null">AND post.deleted = #{deleted}</if>
		<if test = "title != null and title !=''">AND post.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "orderby =='id'">ORDER BY post.id </if>
		<if test = "orderby =='title'">ORDER BY post.title </if>
		<if test = "orderway =='desc'"> DESC</if>
		<if test = "orderway =='asc'"> ASC</if>
	</select>

	<select id="scrollList" parameterType="hashMap" resultType="com.thc.sprboot.dto.PostDto$DetailResDto">
		SELECT post.id
		FROM post
		WHERE post.id is not NULL
		<if test = "deleted != null">AND post.deleted = #{deleted}</if>
		<if test = "title != null and title !=''">AND post.title LIKE CONCAT('%', #{title}, '%')</if>

		<if test = "orderway =='desc'">
			<if test = "cursor != null and cursor !=''">AND #{cursor} > post.id</if>
			ORDER BY post.id DESC
		</if>
		<if test = "orderway =='asc'">
			<if test = "cursor != null and cursor !=''">AND post.id > #{cursor}</if>
			ORDER BY post.id ASC
		</if>
		LIMIT 0, #{perpage}
	</select>

</mapper>